/* stylesheet */

/* Global Reset */
* {
    padding: 0;
    margin: 0;
}

/* general designs */
body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
}

button:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* Header Styles */
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4svh 12svw;
    gap: 4svh;

}

.header-logo {
    font-size: 24px;
    color: #f9faf8;

}

.header-link-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 3svw;
}

.header-link a,
.m1-left p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Main Content Container */
.main {
    display: flex;
    flex-direction: column;


}

/* Card Styles within the body, functions as separate sections */
.card {
    padding: 4svh 12svw;
    flex: 0 1 32svh;
}

/* Section M1 (Main Content 1) */
.m1 {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 4em;
}


.m1-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    width: 400px;

}

.m1-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}


.m1-right {
    padding-right: auto;
    padding-left: auto;
}

/* Section M2 (Main Content 2) */
.m2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5svh;
}

.m2 h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.m2-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2svw;

}

.m2-info {
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: center;
    gap: 1svw;
    text-align: center;
}

.m2-info img {
    border: 1px solid #0d6efd;
    border-radius: 1rem;
}

/* Section M3 (Main Content 3) */
.m3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5svh;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.m3 p {
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
    color: #1f2937;
}

/* Section M4 (Main Content 4) */
.m4.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8svh 8svh;
}

.m4-box {
    display: flex;
    flex: content;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0d6efd;
    border-radius: .50rem;
    padding: 1em;

}

.m4-box-left {
    display: flex;
    flex-direction: column;
    gap: 1svh;
    padding: 1em 5em;
    color: #E5E7EB;
}

.m4-box-right {
    padding: 1em 5em 0px;

}

.m4-box-right button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 4px 32px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #ffffff;
    border-color: #ffffff;
}

.m4-box-right button:hover {
    color: #fff;
    background-color: #1a1d69;
    border-color: #5b00f9;
}

/* Footer Styles */
.footer {
    background-color: #1f2937;
    color: #fff;
    padding: 4svh 12svw;
    display: flex;
    justify-content: center;
    align-items: center;
}